.nav {
  height: 9%;
  /*width: 100%;*/
  border-radius: 0px;
}

.inline {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
