
.dashboard {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

.overview {
  background-color: #3B3B3B;
  padding: 0;
  margin: 0;
  height: 100%;
  color: beige;
}

.presentation {
  background-color: beige;
  padding: 0;
  margin: 0;
  height: 100%;
}

.login {
  color: black;
}
