.image {
  width: 70% !important;
  margin: 0 auto;
}

.buttons {
  text-align: center;
  margin: 5px;
  float: left;
}

.container {
  overflow: auto;
  height: 100%;
  padding: 0 25px;
  padding-bottom: 5%;
  margin: 25px;
}
