.textArea {
  overflow-y: auto;
  width: 40%;
  height: 30%;
  font-size: 1.5em;
}

.button {
  height: 7%;
  width: 40%;
  text-align: center;
  transition: .3s background-color;
  display: block;
  margin: 0 auto;
}

.button:hover {
  background-color: #d3d3d3;
}
